<div class="row">
    <label for="shutter">{{ "channel" | translate }} {{ model.index + 1 }}</label>
    <input name="shutter" type="text" placeholder="name" [(ngModel)]="model.name" [appSendData]="'cfg_jaro_ch_name_' + model.index" />
    <div>
        <button>{{ "unlearn" | translate }}</button>
    </div>
    <div>
        <button>{{ "learn" | translate }}</button>
    </div>
    <div>
        <input type="checkbox" role="switch" [(ngModel)]="model.isEnabled" [appSendData]="'cfg_jaro_ch_enable_' + model.index" />
    </div>
</div>