<article *ngIf="shutter.isEnabled" class="dash" style="height: 120px">
    <div class="dash-main">
      <div class="dash-header" id="p01_jaro_ch_name_14">{{shutter.name}}</div>
      <div class="dash-content">
        <button id="p01_up_{{shutter.index}}" class="svgbtn i_up"></button>
        <button id="p01_stop_{{shutter.index}}" class="svgbtn i_stop"></button>
        <button id="p01_down_{{shutter.index}}" class="svgbtn i_down"></button>
        <button id="p01_shade_{{shutter.index}}" class="svgbtn i_shade"></button>
      </div>
    </div>
  </article>