<div class="grid">
    <!-- Grid 1 -->
    <article class="dash">
        <div class="dash-main" style="gap: 10px">
            <div class="dash-header">{{ "service_cmds" | translate }}</div>
            <label for="selected_shutter">{{ "shutter" | translate }}</label>
            <select id="p04_selected_shutter" name="selected_shutter">
                <ng-container *ngFor="let shutter of state()!.shutters">
                    <option [value]="shutter.index" *ngIf="shutter.isEnabled">
                        {{shutter.name}}
                    </option>
            </ng-container>
            </select>
            <div class="dash-content">
                <button id="p04_up" class="svgbtn i_up"></button>
                <button id="p04_stop" class="svgbtn i_stop"></button>
                <button id="p04_down" class="svgbtn i_down"></button>
                <button id="p04_shade" class="svgbtn i_shade"></button>
            </div>
            <hr />
            <button id="p04_cmd_set_shade" class="svgbtn2 i_shade">{{ "set_shade" | translate }}</button>
            <hr />
            <button class="svgbtn2 i_end_up" id="p04_cmd_end_up_set">{{ "cmd_endpoint_up" | translate }} {{ "set" | translate }}</button>
            <button class="svgbtn2 i_end_down" id="p04_cmd_end_down_set">{{ "cmd_endpoint_down" | translate }} {{ "set" | translate }}</button>
            <hr />
            <button class="svgbtn2 i_end_up_bin" id="p04_cmd_end_up_delete">{{ "cmd_endpoint_up" | translate }} {{ "delete" | translate }}</button>
            <button class="svgbtn2 i_end_down_bin" id="p04_cmd_end_down_delete">{{ "cmd_endpoint_down" | translate }} {{ "delete" | translate }}</button>
        </div>
    </article>
</div>